@import url('https://fonts.googleapis.com/css2?family=Gentium+Plus&display=swap');

* {
    font-family: 'Gentium Plus', serif;
}

body {
    background-color: #d89898;
}

img {
    max-width: 280px;
    max-height: 400px;
}

.gallery {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    justify-content: center;
    gap: 30px;
}

.gallery .card {
    transition: 0.1s linear;
}

.gallery .card:hover {
    transform: scale(1.1);
    z-index: 10;
}

a,
a:link,
a:visited,
a:hover,
a:active {
    text-decoration: none;
    color: inherit;
}

/* login */

.login-content {
    width: 250px;
    height: 250px;
    background-color: #f1f1f1;

    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;

    margin: auto;
    padding: 10px;
    align-items: center;
    border-radius: 5px;
    text-align: center;
}

.login-label {
    color: black;
}

/* base */

.page-container {
    position: relative;
    min-height: 100vh;
}

.content-wrap {
    padding-bottom: 2.5rem;
    /* Footer height */
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 40px;
    line-height: 40px;
    text-align: center;
    background: #f1f1f1;
}

.footer-details {
    display: inline-block;
    vertical-align: middle;
    line-height: normal;
}