@import url('https://fonts.googleapis.com/css2?family=Gentium+Plus&display=swap');

* {
    font-family: 'Gentium Plus', serif;
}

body {
    background-color: #d89898;
}

img {
    max-width: 280px;
    max-height: 400px;
}

.gallery {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    justify-content: center;
    gap: 30px;
}

.gallery .card {
    transition: 0.1s linear;
}

.gallery .card:hover {
    transform: scale(1.1);
    z-index: 10;
}

a,
a:link,
a:visited,
a:hover,
a:active {
    text-decoration: none !important;
    color: inherit;
}



/* login */

.login-content {
    width: 250px;
    height: 250px;
    background-color: #f1f1f1;

    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;

    margin: auto;
    padding: 10px;
    align-items: center;
    border-radius: 5px;
    text-align: center;
}

.login-label {
    color: black;
}

/* base */

.page-container {
    position: relative;
    min-height: 100vh;
}

.content-wrap {
    padding-bottom: 2.5rem;
    /* Footer height */
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 40px;
    line-height: 40px;
    text-align: center;
    background: #f1f1f1;
}

.footer-details {
    display: inline-block;
    vertical-align: middle;
    line-height: normal;
}

/* home */

.home-background {
    position: absolute;
    background-image: url("https://img.freepik.com/free-vector/white-abstract-background_23-2148810113.jpg?t=st=1654792315~exp=1654792915~hmac=13912013d5eb20c51736311dffb1f5581716b54b885dc0b59890c7f0cfd621c7&w=1060");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    width: 100%;
}

.main-container {
    width: 60%;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 4px;
    text-align: center;
    background: #f1f1f1;
    padding: 2em;
}

/* client_detail */

.detail__img {
    border-radius: 3%;
    min-width: 100%;
    min-height: 100%;
    object-fit: cover;
}

.detail-img-container {
    width: 40%
}

.detail-info {
    width: 59%;
}

.interview-inputs-first,
.interview-inputs {
    width: 100%;
}

.interview-inputs-first input {
    min-width: 24%;
}

.interview-inputs-second input {
    min-width: 49%;
}

/* clients_list */

.clients-page-container,
.client-detail-container {
    max-width: 1024px;
    margin: 0 auto;
}

.clear-search {
    position: absolute;
    right: 6px;
}

.search-input {
    width: 100%;
    align-items: center;
}

.card-title {
    text-align: center;
}

.card-image {
    height: 250px;
    width: 230px;
    margin-right: 0;
    padding-right: 0;
}

.card-image>img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}