{% extends 'base.html' %}

{% comment %} {% block title %}
    Sign Up
{% endblock %}

{% block content %}
    <div class="container">
            <div class="column is-half is-offset-one-quarter">
                <div class="content">
                    <h2>Create an Account</h2>
                </div>
                <form action="{% url 'signup' %}" method="post">
                    {% csrf_token %}
                   {% for non_field_error in form.non_field_errors %}
                        <p class="help is-danger">{{ non_field_error }}</p>
                    {% endfor %} 
                    {% for field in form %}
                        <div class="field">
                            <label for="{{ field.id_for_label }}" class="label">{{ field.html_name }}</label>
                            {{ field }}
                         {% for error in field.errors %}
                            <p class="help is-danger">{{ error }}</p>
                        {% endfor %} 
                        </div>
                    {% endfor %}
                    <input type="submit" value="SIGN UP" class="button is-primary">
                </form>
            </div>
    </div>
{% endblock %} {% endcomment %}

{% block content %}

{% if form.errors %}
	<div class="alert alert-warning alert-dismissible fade show" role="alert">
            There was an error with your form...
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
          </div>
{% endif %}	
	<div class="shadow p-4 mb-5 bg-body rounded">
	<h1>Create an Account</h1>
<br/>
<form action="{% url 'signup' %}" method=POST>
{% csrf_token %}
{{ form.as_p }}		
<br/><br/>
<input type="submit" value="Submit" class="btn btn-secondary">
</form>
		
</div>
<br/><br/>	
{% endblock %}