{% extends 'base.html' %}
{% block title %} About {% endblock %}
{% block content %}
<h1> Easy to Use - Easy to Recruit </h1>
<p class="text-center"> If you are a recruiter and would like to keep all your work in one place, use this application to keep track of everything. EasyRecruiting application allows you to create your own account safely and add your clients to it. Create the entire profiles for your candidates with all the data you need to be on top and do your job perfectly and on time. Update and delete your clients and their interviews in one click. It has never been that easy to have all your work in one place </p>

{% endblock %}