{% extends 'base.html' %} 
{% block content %}
<div class="detail__container mb-4">
    <div class="detail__img mb-4">
        <img  src="{{client.image}}" alt="{{client.name}}" />
        <p class="detail__p"> <strong>Status:</strong> {{client.status}}</p>
    </div>
    <div class="detail__about">
        <h1 class="">{{client.name}}</h1>
        <p class="detail__p"> <strong>Position:</strong>  {{client.position}}</p>
        <p class="detail__p"> <strong>Email:</strong> {{client.email}}</p>
        <p class="detail__p"> <strong>Phone#:</strong> {{client.phone}}</p>
        <p> <a href="{{client.resume}}"> Resume</a> </p>
        <p> <a href="{{client.linkedin}}"> LinkedIn</a> </p>
        <p class="detail__p"> <strong>Notes:</strong> {{client.notes}}</p>
        
    </div>

    <div class="">
        <a href="{% url 'client_update' client.pk %}" >
            <button class="btn btn-outline-success mr-3"> Update</button>
        </a>
        <a href="{% url 'client_delete' client.pk %}" >
                <button class="btn btn-outline-danger"> Delete</button>
        </a> 
    </div>
</div>

<h3 class="">Interview Record of {{client.name}}</h3>

{% for interview in client.interviews.all %}
<div>
    <div>
<span>{{forloop.counter}}</span>
<span><b>Title: </b>{{interview.title}}</span>
<span><b>Company: </b> {{interview.company}}</span>
<span> <b>Date: </b>{{interview.date}}</span>
    </div>
<span> <b>Client's Feedback: </b>{{interview.feedback}}</span>
<span><b>Result: </b>{{interview.result}}</span>
<span><b>Notes: </b>{{interview.notes}}</span>

</div>

{% empty %}
    <article class="message">
      <div class="message-header">
        <p>No Interviews Available</p>
      </div>
    </article>
{% endfor %}

<div class="mt-5">
    <a href="{% url 'client_list' %}" >
        <h3 class="mt-5"> Back to All Clients </h3>
    </a>
</div>
{% endblock %}