{% extends 'base.html' %}
{% block title %} Clients {% endblock %}
{% block content %}
    <h1 class="">{{header}}</h1>
    <form class="mb-5" method="get">
        <div class="">
          <div class="">
            <input class="input" type="text" name="name" placeholder="name" />
          </div>
          <div class="">
            <input class="btn btn-outline-primary ml-1" type="submit" value="Search" />
          </div>
        </div>
        <a class="btn btn-outline-secondary" type="button" href="{% url 'client_list' %}">Clear Search</a>
      </form> 

    <div class="gallery">
    {% for client in clients %}
    <a href="{% url 'client_detail' client.pk %}" >
    <div class="card">
      <div class="">
        <p class="">{{client.name}}</p>
      </div>
      <div class="card-image">
          <figure class="">
          <img src="{{client.image}}" alt="{{client.name}}" />
        </figure>
        </div>
      </div>
        </a>
    {% endfor %}
  </div>
{% endblock %}