{% extends 'base.html' %} 
{% block content %}
<div class="detail__container mb-4">
    <div class="detail__img mb-4">
        <img  src="{{client.image}}" alt="{{client.name}}" />
        <p class="detail__p"> <strong>Status:</strong> {{client.status}}</p>
    </div>
    <div class="detail__about">
        <h1 class="">{{client.name}}</h1>
        <p class="detail__p"> <strong>Position:</strong>  {{client.position}}</p>
        <p class="detail__p"> <strong>Email:</strong> {{client.email}}</p>
        <p class="detail__p"> <strong>Phone#:</strong> {{client.phone}}</p>
        <p> <a href="{{client.resume}}"> Resume</a> </p>
        <p> <a href="{{client.linkedin}}"> LinkedIn</a> </p>
        <p class="detail__p"> <strong>Notes:</strong> {{client.notes}}</p>
        
    </div>

    <div class="">
        <a href="{% url 'client_update' client.pk %}" >
            <button class="btn btn-outline-success mr-3"> Update</button>
        </a>
        <a href="{% url 'client_delete' client.pk %}" >
                <button class="btn btn-outline-danger"> Delete</button>
        </a> 
    </div>
</div>

{% endblock %}